#conteudos-items {
    background-color: #24252a;
    width: 100%;
    height: 100%;
}

#conteudos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 70px;
}

.alinhar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conteudos img {
    width: 320px;
    height: 300px;
    border-radius: 80px;
    border: 2px solid black;
}

#conteudos h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

#conteudos p {
    color: #b9b9b9;
    text-align: center;
    letter-spacing: 3px;
    padding: 0px 10px;
    font-size: 15px;
    margin-bottom: 70px;
}

.item4, .item5, .item6 {
    display: none;
    animation: scroll 1s;
}

@keyframes scroll {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.exibir-imgs {
    display: flex;
}

#posicao-btn {
    display: flex;
    padding: 0px 0px 70px 0px;
    justify-content: center;
    align-items: center;
}

#btn-items {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #636674;
    color: #ffffff;
    text-transform: uppercase;
    transition: all .6s ease;
}

#btn-items:hover {
    background-color: #9da3be;
    color: #24252a;
    cursor: pointer;
}